/* FONDO GENERAL */
body {
    background-color: #050a05;
    color: #00ff66;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 40px;
}

/* TÍTULO */
.titulo {
    font-size: 64px;
    margin-bottom: 5px;
    text-shadow: 0 0 10px #00ff66;
}

/* SUBTÍTULO BINARIO */
.subtitulo {
    color: #00aa44;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

/* BOTONES */
button {
    background-color: transparent;
    color: #00ff66;
    border: 2px solid #00ff66;
    padding: 15px 30px;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}

/* EFECTO HOVER */
button:hover {
    background-color: #00ff66;
    color: #050a05;
    box-shadow: 0 0 15px #00ff66;
}

/* MENÚS */
.menu {
    border: 2px solid #00aa44;
    background-color: #020602;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 15px #004422;
}

/* OCULTO */
.oculto {
    display: none;
}

/* TEXTO DENTRO */
.menu h2 {
    color: #00ff66;
}

.menu p {
    color: #00aa44;
}
