/* FONDO GENERAL */
body {
    background-color: #050a05;
    color: #00ff66;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 40px;
}

/* TÍTULO */
.titulo {
    font-size: 64px;
    margin-bottom: 5px;
    text-shadow: 0 0 10px #00ff66;
}

/* SUBTÍTULO BINARIO */
.subtitulo {
    color: #00aa44;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

/* BOTONES */
button {
    background-color: transparent;
    color: #00ff66;
    border: 2px solid #00ff66;
    padding: 15px 30px;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}

/* EFECTO HOVER */
button:hover {
    background-color: #00ff66;
    color: #050a05;
    box-shadow: 0 0 15px #00ff66;
}

/* MENÚS */
.menu {
    border: 2px solid #00aa44;
    background-color: #020602;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 15px #004422;
}

/* OCULTO */
.oculto {
    display: none;
}

/* TEXTO DENTRO */
.menu h2 {
    color: #00ff66;
}

.menu p {
    color: #00aa44;
}
.titulo-ippo {
  text-align: center;
  color: #00ff00;
  font-size: 2.5rem;
  text-shadow: 0 0 10px #00ff00;
}

.sub-ippo {
  text-align: center;
  color: #88ff88;
  margin-bottom: 30px;
}

.galeria-ippo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.galeria-ippo img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #00ff00;
  box-shadow: 0 0 15px #00ff00;
  transition: transform 0.3s;
}

.galeria-ippo img:hover {
  transform: scale(1.05);
}

.btn-volver {
  display: block;
  text-align: center;
  margin: 30px;
  color: #00ff00;
  text-decoration: none;
  font-weight: bold;
}

